.profile {
  display: flex;

  .profile-right {
    flex: 9;

    .profile-right-top {
      .profile-cover {
        height: 320px;
        position: relative;

        .profile-cover-img {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }

        .profile-user-img {
          height: 150px;
          width: 150px;
          border-radius: 50%;
          position: absolute;
          object-fit: cover;
          left: 0;
          right: 0;
          margin: auto;
          top: 150px;
          border: 3px solid #fff;
        }
      }

      .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        .profile-info-name {
          font-size: 24px;
          margin: 3px 0 10px 0;
          text-transform: capitalize;
        }
        .profile-info-desc {
          font-weight: 300;
        }
        button {
          border: none;
          background-color: #1877f2;
          padding: 10px 20px;
          color: white;
          border-radius: 10px;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    .profile-right-bottom {
      display: flex;
    }
  }
}
