@mixin display-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightbar {
  flex: 3.5;

  .rightbar-wrapper {
    padding: 20px 20px 0 0;

    .rightbar-title {
      font-size: 18px;
      font-weight: 500;
    }

    .birthday-container {
      display: flex;
      align-items: center;

      .birthday-img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      .birthday-text {
        font-weight: 300;
        font-size: 15px;
      }
    }
    .rightbar-ad {
      width: 100%;
      border-radius: 10px;
      margin: 30px 0;
    }
    .rightbar-friend-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .rightbar-friend-suggestion-list {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;
      flex-wrap: wrap;
      height: 320px;
      overflow-y: auto;
      display: flex;
    }
  }
}

.right-edit-button-container {
  @include display-layout;
  margin-bottom: 20px;

  button {
    border: none;
    margin-right: 30px;
    padding: 8px 10px;
    cursor: pointer;
    @include display-layout;
    border-radius: 8px;
    font-weight: 500;

    .right-edit-button-icon {
      font-size: 16px;
      margin-left: 5px;
    }
  }
}

.rightbar-following-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.rightbar-info {
  margin-bottom: 30px;

  .rightbar-info-item {
    margin-bottom: 10px;

    .rightbar-info-key {
      font-weight: 500;
      margin-right: 10px;
      color: #555;
    }
    .rightbar-info-value {
      font-weight: 300;
      text-transform: capitalize;
    }
  }
}

.rightbar-followings {
  display: flex;
  flex-wrap: wrap;

  .rightbar-following {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 0 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(228, 226, 238);

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .rightbar-following-name {
      text-align: center;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 15px;
    }
  }
}
